<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{'RESERVATIONS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Botón flotante para mostrar el formulario -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="mostrarFormulario = !mostrarFormulario">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Tarjeta con el Formulario de Reserva -->
  <ion-card *ngIf="mostrarFormulario" class="reserva-form-card">
    <ion-card-header>
      <ion-card-title>{{'CREATE_RESERVATION' | translate}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="bookingForm" (ngSubmit)="addBooking()">
        <ion-item>
          <ion-label position="floating">{{'SERVICES' | translate}}</ion-label>
          <ion-select formControlName="serviceId">
            <ion-select-option *ngFor="let service of availableServices" [value]="service.id">
              {{ service.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <input type="hidden" formControlName="userId">

        <ion-item>
          <ion-label position="floating">{{'START_DATE' | translate}} (DD/MM/YYYY)</ion-label>
          <ion-input formControlName="startDate"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{'END_DATE' | translate}} (DD/MM/YYYY)</ion-label>
          <ion-input formControlName="endDate"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{'PEOPLE_AMOUNT' | translate}}</ion-label>
          <ion-input type="number" formControlName="peopleAmount"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{'PREFERENCES' | translate}}</ion-label>
          <ion-input formControlName="preferences"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{'STATUS' | translate}}</ion-label>
          <ion-select formControlName="estado" placeholder="Selecciona una opción">
            <ion-select-option value="pagado">{{'PAYED' | translate}}</ion-select-option>
            <ion-select-option value="pendiente">{{'WAITING' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{'TOTAL' | translate}}</ion-label>
          <ion-input type="number" formControlName="totalPayed"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="bookingForm.invalid">{{'CREATE_RESERVATION' | translate}}</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

    <div class="cards-container">
      <ion-card *ngFor="let reserva of bookings" class="reserva-card">
      <ion-card-header>
        <ion-card-title>{{'USERID' | translate}} ID: {{ reserva.userId }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{'SERVICEID' | translate}} ID: {{ reserva.serviceId }}</p>
        <p>{{'START_DATE' | translate}}: {{ reserva.startDate }}</p>
        <p>{{'END_DATE' | translate}}: {{ reserva.endDate }}</p>
        <p>{{'PEOPLE_AMOUNT' | translate}}: {{ reserva.peopleAmount }}</p>
        <p>{{'PREFERENCES' | translate}}: {{ reserva.preferences }}</p>
        <p>{{'STATUS' | translate}}: {{ reserva.estado }}</p>
        <p>{{'TOTAL' | translate}}: {{ reserva.totalPayed }}</p>
      </ion-card-content>
      <ion-button color="danger" (click)="eliminarReserva(reserva.id)">{{'DELETE_RESERVATION' | translate}}</ion-button>
      </ion-card>
    </div>
  </ion-content>