<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bookings</ion-title>
  </ion-toolbar>
</ion-header>

<div class="cards-container">
  <ion-card *ngFor="let reserva of bookings" class="reserva-card">
  <ion-card-header>
    <ion-card-title>{{ reserva.userId }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Servicio: {{ reserva.serviceId }}</p>
    <p>Fecha de inicio: {{ reserva.startDate }}</p>
    <p>Fecha de finalización: {{ reserva.endDate }}</p>
    <p>Personas: {{ reserva.peopleAmount }}</p>
    <p>Preferencias: {{ reserva.preferences }}</p>
    <p>Estado: {{ reserva.estado }}</p>
    <p>Precio pagado: {{ reserva.totalPayed }}</p>
  </ion-card-content>
  <ion-button color="danger" (click)="eliminarServicio(reserva.id)">Eliminar</ion-button>
  </ion-card>
</div>
