
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'REGISTERED_USERS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <!-- Contenido principal de la página -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let user of users">
        <ion-card>
          <ion-card-header>
            <ion-avatar slot="start">
              <img [src]="user.imgUrl || 'assets/default-user.png'" alt="User Image">
            </ion-avatar>
            <ion-card-title>{{ user.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>{{ 'LAST_NAME' | translate }}:</strong> {{ user.surname }}</p>
            <p><strong>{{ 'EMAIL' | translate }}:</strong> {{ user.email }}</p>
            <p><strong>{{ 'PASSWORD' | translate }}:</strong> {{ user.password }}</p>
            <p><strong>{{ 'PHONE' | translate }}:</strong> {{ user.phone }}</p>
            <p><strong>ID:</strong> {{ user.id }}</p>
          </ion-card-content>
          <ion-button color="danger" expand="block" (click)="eliminarUsuario(user.id)">
            {{ 'DELETE_USER' | translate }}
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
