<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Usuarios Registrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let user of users">
        <ion-card>
          <ion-card-header>
            <ion-avatar slot="start">
              <img [src]="user.imgUrl || 'assets/default-user.png'" alt="User Image">
            </ion-avatar>
            <ion-card-title>{{ user.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Apellidos:</strong> {{ user.surname }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Contraseña:</strong> {{ user.password }}</p>
            <p><strong>Teléfono:</strong> {{ user.phone }}</p>
            <p><strong>ID:</strong> {{ user.id }}</p>
          </ion-card-content>
          <ion-button color="danger" expand="block" (click)="eliminarUsuario(user.id)">Eliminar Usuario</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
