.profile-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa toda la altura de la pantalla */
    padding-top: 20px; /* Espacio superior */
  }
  
  .profile-card {
    width: 600px; /* Ancho de la card */
    margin: 20px; /* Margen alrededor de la card */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .profile-header {
    display: flex; /* Alinea la imagen y el nombre en fila horizontal */
    align-items: center; /* Alinea verticalmente */
    padding: 8px 16px; /* Ajusta el padding del header de la card */
  }
  
  .profile-avatar {
    width: 50px; /* Tamaño de la imagen de perfil */
    height: 50px;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
  }
  
  .profile-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0; /* Eliminar márgenes adicionales */
  }
  
  ion-card-subtitle {
    font-size: 14px;
    color: #666;
    margin-top: 4px; /* Reduce el espacio entre el subtítulo y el contenido */
  }
  
  ion-card-content {
    padding: 8px 16px; /* Ajusta el padding del contenido */
    margin-top: 0; /* Elimina márgenes adicionales */
  }