ion-content {
    --background: #004d32; /* Fondo verde oscuro */
  }
  
  ion-card {
    background: #1c6b47; /* Fondo verde más claro */
    color: var(--ion-text-color);
    border-radius: 0.625rem; /* Bordes redondeados */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3); /* Sombras suaves */
    width: 50%;
    margin-left: 20%;
  }
  
  ion-card-title {
    font-size: 1.25rem; /* Más grande para destacar */
    color: var(--ion-text-color);
    text-align: center;
  }
  
  ion-card-content p {
    margin: 0.5rem 0; /* Espaciado entre párrafos */
    font-size: 1rem;
  }
  
  ion-button {
    margin-top: 1rem; /* Espaciado superior */
    font-size: 1rem;
    background-color: var(--accent-color); /* Botón naranja */
    color: var(--ion-button-color);
    width: 50%;
    margin-left: 20%;
  }
  
  ion-button:hover {
    background-color: #e67e22; /* Naranja más oscuro */
  }

  ion-menu {
    display: none; /* Oculta el menú por defecto */
  
    @media (max-width: 768px) {
      display: block; /* Muestra el menú en pantallas pequeñas */
    }
  }
  
  ion-menu-button {
    @media (min-width: 769px) {
      display: none; /* Oculta el botón de menú en pantallas grandes */
    }
}
  
  