<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'SERVICES' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botón flotante para añadir servicio -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="mostrarFormulario = !mostrarFormulario">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Formulario en una tarjeta centrada -->
  <ion-card *ngIf="mostrarFormulario" class="formulario-card">
    <ion-card-header>
      <ion-card-title>{{'CREATE_SERVICE' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="agregarServicio()" [formGroup]="servicioForm">
        <ion-item>
          <ion-label position="floating">{{ 'SERVICE_NAME' | translate }}</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{ 'SERVICE_TYPE' | translate }}</ion-label>
          <ion-input formControlName="type"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{ 'DESCRIPTION' | translate }}</ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{ 'LOCATION' | translate }}</ion-label>
          <ion-input formControlName="location"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{ 'PRICE' | translate }}</ion-label>
          <ion-input type="number" formControlName="price"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{ 'AVAILABILITY' | translate }}</ion-label>
          <ion-select formControlName="available" placeholder="{{ 'AVAILABILITY' | translate }}">
            <ion-select-option value="disponible">{{ 'AVAILABLE' | translate }}</ion-select-option>
            <ion-select-option value="reservado">{{ 'BOOKED' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="servicioForm.invalid">{{'CREATE_SERVICE' | translate}}</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Lista de Servicios -->
  <div class="cards-container">
    <ion-card *ngFor="let servicio of servicios" class="servicio-card">
      <img [src]="servicio.imgUrl" alt="Imagen del Servicio" *ngIf="servicio.imgUrl">
    <ion-card-header>
      <ion-card-title>{{ servicio.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ 'SERVICE_TYPE' | translate }}: {{ servicio.type }}</p>
      <p>{{ 'DESCRIPTION' | translate }}: {{ servicio.description }}</p>
      <p>{{ 'LOCATION' | translate }}: {{ servicio.location }}</p>
      <p>{{ 'PRICE' | translate }}: {{ servicio.price }}</p>
      <p>{{ 'AVAILABILITY' | translate }}: {{ servicio.available=="disponible"?"Disponible":"Reservado" }}</p>
      <p>ID: {{ servicio.id }}</p>
    </ion-card-content>
    <ion-button color="danger" (click)="eliminarServicio(servicio.id)">{{'DELETE_SERVICE' | translate}}</ion-button>
    </ion-card>
  </div>
</ion-content>
