
<ion-app>
  <img src="{{'IMGURL' | translate}}" alt="">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="isAuthenticated">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item>
            <ion-icon slot="start" name="language-outline"></ion-icon>
            <ion-label>{{'LANGUAGE' | translate}}</ion-label>
          <ion-select (ionChange)="changeLanguage($event.detail.value)">
            <ion-select-option value="en">English</ion-select-option>
            <ion-select-option value="es">Español</ion-select-option>
            <ion-select-option value="gr">Deutsch</ion-select-option>
            <ion-select-option value="ind">हिंदू</ion-select-option>
          </ion-select>
        </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content" *ngIf="isAuthenticated"></ion-router-outlet>

    <div *ngIf="!isAuthenticated" class="overlay">
      <div class="auth-card">
        <form [formGroup]="authForm" (ngSubmit)="onAuthSubmit()">
          <h2>{{ isRegisterMode ? ('REGISTER' | translate) : ('LOGIN' | translate) }}</h2>

          <ion-item>
            <ion-label position="floating">{{'FIRST_NAME' | translate}}</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>

          <ion-item *ngIf="isRegisterMode">
            <ion-label position="floating">{{'LAST_NAME' | translate}}</ion-label>
            <ion-input formControlName="surname" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{'PASSWORD' | translate}}</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>

          <ion-item *ngIf="isRegisterMode">
            <ion-label position="floating">{{'EMAIL' | translate}}</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>

          <ion-item *ngIf="isRegisterMode">
            <ion-label position="floating">{{'PHONE' | translate}}</ion-label>
            <ion-input formControlName="phone" type="text"></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit">{{ isRegisterMode ? ('REGISTER' | translate) : ('LOGIN' | translate) }}</ion-button>

          <p (click)="toggleAuthMode()" class="toggle-link">
            {{ isRegisterMode ? ('HAS_ACCOUNT' | translate) : ('NO_ACCOUNT' | translate) }}
          </p>
        </form>
      </div>
    </div>
  </ion-split-pane>
</ion-app>
